<div class="container-fluid building-leasing-inquiries">
    <div class="row">
        <div class="col-lg-6 bg-light-blue">
            <div class="flex-row d-flex justify-content-lg-end justify-content-center">
                <img class="gc-arrow" src="~/images/GC-Arrow-White.svg" alt="Decorative Arrow" />
                <h1 class="d-flex align-items-center">Building &amp;<br />Leasing<br />Inquiries</h1>
            </div>
        </div>
        <div class="col-lg-6 my-auto">
            <div class="row py-3 mx-auto mx-lg-0 heidi-contact-card">
                <div class="col-sm-4 px-3">
                    <img class="img-fluid mx-auto d-block heidi-img" src="~/images/Heidi-Daigle-Colliers-Grayscale.jpg" alt="Heidi Daigle" />
                </div>
                <div class="col-sm-8 px-3">
                    <img class="colliers-img" src="~/images/Colliers_Logo_RGB_Gradient.png" alt="Colliers Logo" />

                    <h1 style="clear:both;">Heidi Daigle</h1>
                    <h3><a href="tel:+15068515400">(506) 851-5400</a></h3>
                    <a href="mailto:Heidi@granitecentremoncton.com">Heidi@granitecentremoncton.com</a>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-1 contact-form-div">
            <i class="fas fa-spinner fa-spin loading-spinner"></i>
            <form class="contact-form my-4">

                <div class="form-group">
                    <input type="text" class="form-control" id="Name" placeholder="Name" aria-label="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="Email" placeholder="Email Address" aria-label="Email Address">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="Company" placeholder="Company Name" aria-label="Company Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="Phone" placeholder="Phone Number" aria-label="Phone Number">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="Comments" placeholder="Comments" aria-label="Comments"></textarea>
                </div>
                <div class="d-flex align-items-center flex-column-reverse justify-content-sm-between flex-sm-row align-items-sm-start">
                    <button id="ContactBtn" class="btn btn-outline-primary mt-sm-0 mt-3 contact-form-btn">SEND</button>
                    <div class="g-recaptcha" data-sitekey="6LdMe0UUAAAAAOJDjKqfevmfH1bdvFAIykbsOmUd"></div>
                </div>
                <div class="text-sm-right">
                    <div id="Captcha"></div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 d-flex align-items-center">
            <img class="img-fluid contact-form-logo" src="~/images/Logo-Dark-Text.svg" alt="Granite Centre Logo" />
        </div>
    </div>
</div>*@