@{
    ViewData["Title"] = "Contact";
}

@section Carousel {
    <div class="Contact-Banner">
        <div class="Overlay-Small text-white text-center">
            <h1>contact us</h1>
            <p>
                Granite Centre is represented by Colliers International New Brunswick
            </p>
        </div>
    </div>
}

<partial name="_ContactPartial">