
@{
    ViewData["Title"] = "News";
}

@section Carousel {
    <div class="News-Banner">
        <div class="Overlay-Small text-white text-center">
            <h1>In the News</h1>

        </div>
    </div>
}

    <div class="container py-5 News-Page">
        <div class="media py-5">
            <img class="align-self-center mr-3" src="https://www.starbucks.ca/static/images/global/logo.svg" alt="Starbucks Logo">
            <div class="media-body">
                <p>June 10, 2019</p>
                <h5 class="mt-0">Starbucks confirmed for Granite Centre</h5>
                <p>Starbucks Coffee Canada has confirmed they will be opening their 6th location in the Greater Moncton Area as a tenant at Granite Centre located on Granite Drive in Moncton, New Brunswick.</p>
                <a target="_blank" href="~/PDF/2019-06-10_Press_Release_Starbucks.pdf" class="btn btn-outline-primary float-right">Read More...</a>
            </div>
        </div>
        <div class="media py-5">
            <img class="align-self-center mr-3" src="~/images/Costco_Canada_Logo.png" alt="Costco Wholesale Logo">
            <div class="media-body">
                <p>May 11, 2018</p>
                <h5 class="mt-0">Costco Wholesale Corporation says new Moncton location is official</h5>
                <p>(MONCTON, NB – May 11th, 2018) After months of planning, Costco Wholesale officially confirmed today their new expanded warehouse and gas bar in Moncton will be located in Granite Centre, on the corner of Elmwood Drive and NB-2 TransCanada Highway.</p>
                <a target="_blank" href="~/PDF/Costco_Colliers_news_release.pdf" class="btn btn-outline-primary float-right">Read More...</a>
            </div>
        </div>
    </div>