
@{
    ViewData["Title"] = "Site";
}

@section Carousel {
    <div class="Site-Banner">
        <div class="Overlay-Small text-white text-center">
            <h1>the lay of the land</h1>
            <p>

            </p>
        </div>
    </div>
}

<div class="container text-center py-5">
    <div class="py-5">
        <h3 class="py-2">About the property</h3>
        <p>The Annual Average Daily Traffic (AADT) count around Granite Centre is as follows:</p>
        <p>
            ±25,000 vehicles daily at the interesection of Granite Drive and Elmwood Drive
        </p>
        <p>(A 43% increase since the opening of Costco Wholesale)</p>
        <p>
            ±23,300 vehicles daily on the Trans Canada Highway
        </p>
        <p>
            ±12,022 vehicles daily on Granite Drive
        </p>
        <br />
        <p>Granite Centre is Zoned Highway Commercial.</p>
        <img src="~/images/Granite Centre Overview Map.jpg" class="img-fluid" />
    </div>

    <div class="py-5">
        <h3 class="py-2">Proposed site layout</h3>
        <img src="~/images/Granite Centre Layout.jpg" class="img-fluid" />
        <p class="text-left">*Layout subject to change</p>
    </div>
</div>

<partial name="_ContactPartial">
