
@{
    ViewData["Title"] = "Site";
    Layout = "~/Views/Shared/_LayoutFr.cshtml";
}

@section Carousel {
    <div class="Site-Banner">
        <div class="Overlay-Small text-white text-center">
            <h1>the lay of the land</h1>
            <p>

            </p>
        </div>
    </div>
}

<div class="container text-center py-5">
    <h3>Proposed site layout</h3>
    <img src="~/images/Granite Centre Layout.jpg" class="img-fluid py-5" />
    <p class="text-left">*Layout subject to change</p>
</div>

<partial name="_ContactPartialFr"/>
