
@{
    ViewData["Title"] = "Greater Moncton";
    Layout = "~/Views/Shared/_LayoutFr.cshtml";
}

@section Carousel {
    <div class="Greater-Moncton-Banner">
        <div class="Overlay-Small text-white text-center">
            <h1>strategically located</h1>
            <p>
                Retail... you need Visibility: Granite Centre has the greatest visibility from the Trans-Canada Highway
            </p>
        </div>
    </div>
}

<div class="container text-center py-5">
    <p>As Atlantic Canada’s fastest growing retail hub, Moncton serves New Brunswick, Prince Edward Island and Nova Scotia. The City’s central positioning has anchored its importance as a strategic transportation and distribution hub for road, rail and air cargo.</p>
    <h5>Within three hour driving radius there are more than 1.5 Million consumers, representing 11 billion dollars in retail sales annually.</h5>
    <img src="~/images/Moncton-Map.jpg" class="img-fluid py-5" />
</div>

<partial name="_ContactPartialFr"/>
